# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist
.next
out

# misc
.DS_Store
*.pem
.env
.env.local
.env.*.local
.idea
.vscode
*.swp
*.swo
*~
.turbo

# mobile
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# logs
logs
*.log
